name: Test Hello Action
on:
  push:
    branches: [ main ]


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4
     - name: Run local hello action
       uses: ./
       with:
         who-to-greet: "Kabir"
